# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Example binaries
*/examples/acquirer/acquirer
*/examples/basculehttp/basculehttp

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*vendor/

#Goland
.idea/

# Images
*.png
